body {
  background-color: beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.app {
  min-height: 300px;
  min-height: 300px;
}
.todo-app {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 150px;
  background-color: white;
  border-radius: 1rem;
  min-height: 200px;
  min-width: 350px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-formulario {
  display: flex;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-right: 6px;
  justify-content: center;
  align-items: center;
}
.contenedor-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}
p {
  min-width: 175px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
}
button:hover {
  background-color: aqua;
}
button {
  cursor: pointer;
  width: 65px;
  height: 30px;
  border-radius: 5px;
}
input {
}
.texto {
  min-height: 25px;
  min-width: 250px;
  border-radius: 7px;
  margin-right: 3px;
}
